body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFCDC;
    font-family: 'Quicksand', sans-serif;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #84DFFF;
}

#navbar a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #000;
    z-index: 999;
}

#navbar a:hover {
    cursor: pointer;
    border-bottom: 1px solid #FFFCDC;
}

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    height: 360px;
    background-color: #516BEB;
}

#welcome-section h1 {
    font-size: 32px;
}

#projects {
    display: flex;

}