body {
    margin: auto;
    max-width: 50%;
    padding: 25px;
    box-sizing: border-box;
    background-color: #faf9f9;
    font-family: 'Quicksand', sans-serif;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

#survey-form {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 25px;
    background-color: #f2f2f2;
}

label input[type="checkbox"], label input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

label .checkmark {
    height: 12px;
    width: 12px;
    border: 1px solid #ccc;
    display: inline-block;
}

label .bulletmark {
    height: 12px;
    width: 12px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
}

input[type=checkbox]:checked+span, input[type=radio]:checked+span {
    background: #4CAF50;
}


input, select {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.skill-item {
    display: flex;
    flex-direction: row;
}

.form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.gender-item label {
    padding: 0 5px;
}

.skill-item label {
    display: inline-block;
    margin: 5px;
    vertical-align: super;
}

textarea {
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 0.8;
}
