body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#header-img {
    object-fit: cover;
    max-width: 50%;
    max-height: 60px;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 30px;
}

.menu {
    display: none;
    max-width: 50%;
    max-height: 40px;
    opacity: 0.5;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: #74c69d;
    /* margin: 5px;
    padding: 10px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav-link {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: #74c69d;
    opacity: 0.5;
}

.top-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    background-image: url("img/mt-0042-home-slider2.jpg");
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#submit {
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    background-color: #74c69d;
    border-style: none;
    color: #fff;
}

#email {
    width: 50%;
    margin: 10px;
    padding: 5px 20px;
    height: 30px;
    border-radius: 2px;
    border-style: none;
}

.title {
    /* margin: 25px;
    padding: 25px; */
    background-color: rgba(100%, 100%, 100%, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 25px;
    padding: 10px;
    text-align: justify;
    flex: 1;
    border-radius: 5px;
}

.card h3 {
    text-align: center;
}

section h2 {
    padding: 25px;
    border-bottom: 5px solid #74c69d;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #74c69d;
    margin-top: 25px;
    color: #fff;
}

.profile {
    margin: 25px;
    width: 50%;
    text-align: justify;
}

.contact {
    margin: 25px;
    width: 50%;
}

.contact-item {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0px;
}

@media (max-width: 600px) {
    .nav-link {
        display: none;
    }

    .menu {
        display: block;
        cursor: pointer;
    }
}
