body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 720px;
    background-color: #191919;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 320px;
}

#navbar header {
    margin: 10px;
    padding: 10px;
}

.nav-link {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    background-color: rgba(100%, 100%, 100%, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;
    padding-left: 240px;
}

article {
    margin: 10px;
    padding: 10px;
    border-left: 2px solid white;
}

section {
    width: 100%;
}

section header {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
}

section p {
    padding-bottom: 15px;
}

section a {
    text-decoration: none;
    color: #005282;
    cursor: pointer;
}

section a:hover {
    cursor: pointer;
    opacity: 0.5;
}

code {
    background-color: #787A91;
}


.code-example {
    border-left: 6px solid #005282;
    margin: 0 0 12px;
    max-width: 100%;
    overflow: auto;
    padding: 12px;
    background-color: #787A91;
    display: block;
    line-height: 1.5;
}

img {
    object-fit: cover;
    width: 80%;
    max-height: 80%;
    background-position: center;
    background-size: cover;
}

table {
    border: 1px solid #787A91;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
}

table th, table td {
    border: 1px solid #787A91;
    padding: 10px;
}

table th {
    background-color: #787A91;
}

table td {
    background-color: #191919;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    main {
        width: 100%;
        padding-left: 0;
    }

    article {
        border: 0;
    }

    nav {
        position: static;
        height: 120px;
        overflow-y: scroll;
        min-width: 100%;
        border-bottom: 1px solid #787A91;
    }
}